[Unit]
Description=Anonymous, Private, and Caching Web Proxy
After=syslog.target network.target nss-lookup.target

[Install]
WantedBy=multi-user.target

